<div id="mySidenav" class="sidenav">
  <div class="cart_header">
  <span style="float:left" class="cart_header_title">Your Cart</span>
  <span style="float:right;" onclick="closeNav();" class="cart_close">Close</span>
 </div>
  <br/>
  <br/>
  <hr/>

  <div class="cartOrders">

<img src="../img/empty_cart_.png" class="empty_cart">

<h2 class="cart_empty_text"> Your Cart Is Empty</h2>
<h2 class="cart_empty_text"> Please Fill It</h2>

</div>

<div class="cart_order_place" onClick="window.open('/checkout','_self');">
  Place Order
</div>

</div>
