<div id="mySidenav" class="sidenav">
  <div class="cart_header">
  <span style="float:left" class="cart_header_title">Your Cart</span>
  <span style="float:right;" onclick="closeNav();" class="cart_close">Close</span>
 </div>
  <br/>
  <br/>
  <hr/>

  <div class="cartOrders">

<img src="../img/empty_cart_.png" class="empty_cart">

<h2 class="cart_empty_text"> Your Cart Is Empty</h2>
<h2 class="cart_empty_text"> Please Fill It</h2>


</div>

<div class="cart_order_place" onClick="window.open('/checkout','_self');">
  Place Order
</div>


<div class="anythingdiv">
</div>


<script>
	document.addEventListener("DOMContentLoaded",function(){
		var sessionCart = JSON.parse(sessionStorage.getItem("cart"));
		if(sessionCart!==null) {
			var subTotal = 0;
			sessionCart.items.forEach(function(productCart,index){
				subTotal += productCart.price*productCart.quantity;
				document.querySelector('.cart_order_place').innerHTML = 'Place order (Rs. ' + subTotal + ')';
			});

      var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
if (this.readyState == 4 && this.status == 200) {
   // Typical action to be performed when the document is ready:
   let randProds = JSON.parse(this.response);
   let htmlText2 = document.querySelector('.anythingdiv');

   htmlText2.innerHTML +=
   `<div class="anythingelse">
     Anything Else
   </div>`;

  randProds.forEach(function(product,index){
    console.log(product);
    htmlText2.innerHTML += `
    <div class="anythingcard">
      <div class="anythingimage">
        <img src="http://deliverykings.co.in/uploads/${product.prodImg}" alt="" />
      </div>
      <div class="anythingprod">
        <div class="anythingtitle">${product.name}</div>
        <div class="anythingdesc">
    <div class="anythingprice">Rs ${product.price}</div>
    <div class="anythingorder ">ORDER</div>
        </div>
      </div>


    </div>`;

  });

  // htmlText.innerHTML += '</div>';

}
};
xhttp.open("GET", "/random", true);
xhttp.send();
		}
	});

</script>

</div>
