<footer>
  <div class="footer_wrapper">
    <div class="footer_links">
      <a href="/about">About Us</a>
      <br/>
      <br/>
      <a href="/privacy-policy">Privacy & Policy</a>
      <br/><br/>
      <a href="/refund-policy">Refund Policy</a>
      <br/><br/>
      <a href="terms">Terms & Conditions</a>

    </div>
    <div>
   <h1>PAYMENT OPTIONS</h1>
   <br/>
   <br/>
    <div class="payment-options-img">
      <img src="../img/Visa_Logo.png">
      <img src="../img/640px-MasterCard_logo.png">
      <img src="../img/2000px-American_Express_logo.png">
      <img src="../img/2000px-Maestro_logo.png">
      <img src="../img/Rupay-Logo.png">
    </div>
    </div>
    <div>
    <h1>  Follow Us </h1>
      <br/>
      <br/>
      <div class="footer_text">
        You can give your precious feedback and follow us on Instagram, facebook, twitter and pinterest. Here you see can our latest post and updates.
      </div>
      <br/>
      <a href="https://www.facebook.com/DeliveryKingsIndia/" target="_blank"><img src="../img/fb.png" class="footer_social_icon"></a>
      <a href="https://twitter.com/deliverykings26" target="_blank"><img src="../img/t.png" class="footer_social_icon"></a>
      <a href="https://www.instagram.com/delivery_kings/" target="_blank"><img src="../img/insta.png" class="footer_social_icon"></a>
      <a href="https://www.pinterest.com/deliverykings/" target="_blank"><img src="../img/pin.png" class="footer_social_icon"></a>
    </div>
</div>
<div class="footer_lower">
  <p class="copyright">©</p><span> 2018, Delivery Kings</span>
</div>
</footer>
