<footer>
  <div class="footer_wrapper">
      <div class="desc_div">
        <div class="f_logo">
        <img src="../img/dk_logo.png">
      </div>
      <div class="dk_desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
      </div>
      <div class="sm_link">
        <i class="fab fa-facebook-square fa-2x"></i>&nbsp;
        <i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i>&nbsp;
        <i class="fab fa-youtube-square fa-2x" aria-hidden="true"></i>&nbsp;
        <i class="fab fa-pinterest-square fa-2x" aria-hidden="true"></i>&nbsp;
        <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>&nbsp;
      </div>
      </div>
  <div class="policy_link">
    <a href="">About Us</a>
    <a href="">Return And Refund Policy</a>
    <a href="">Terms And Conditions</a>
  </div>
  <div class="payment_method">
    <img src="../img/PAYMENT.png" class="payment_img">
  </div>
  <div class="address">
    Address here
  </div>
</footer>
