<footer>
  <div class="footer_wrapper">
    <div class="footer_links">
      <a href="#">About Us</a>
      <br/>
      <br/>
      <a href="#">Contact Us</a>
      <br/>
      <br/>
      <a href="#">Careers</a>
      <br/>
      <br/>
      <a href="#">Terms & Conditions</a>
      <br/>
      <br/>
      <a href="#">Cancellation, Returns And Refund Policy</a>
    </div>
    <div>
   <h1>PAYMENT OPTIONS</h1>
   <br/>
   <br/>
   <img src="../img/payment.png">
    </div>
    <div>
    <h1>  Follow Us </h1>
      <br/>
      <br/>
      <div class="footer_text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad  officia deserunt mollit anim id est laborum.
    </div>
      <br/>
      <img src="../img/g+.png" class="footer_social_icon">
      <img src="../img/fb.png" class="footer_social_icon">
      <img src="../img/t.png" class="footer_social_icon">
      <img src="../img/insta.png" class="footer_social_icon">
      <img src="../img/yt.png" class="footer_social_icon">
      <img src="../img/pin.png" class="footer_social_icon">
    </div>
</div>
<div class="footer_lower">
  @copyright by Delivery Kings
</div>
</footer>
