<div class="small-navbar firstSmall">
    <ul class="left-menu">
      <li class="floatleft"></li>
      <li class="floatleft">|</li>
      <li class="floatleft"><i class="fas fa-phone"></i> 91-7017585022</li>

          <li class="floatright displayPointer">Corporate Ordering</li>
        <li class="floatright">|</li>
        <li id="signup-btn" class="floatright displayPointer" onclick="showSignupModal()">Sign Up</li>
        <li class="floatright">|</li>
        <li id="login-btn" class="floatright displayPointer"  onclick="showLoginModal()">Log In</li>
        <li class="floatright">|</li>
        
      





    </ul>
    <!-- <ul class="right-menu">

    </ul> -->

    <!-- <ul>
      <div class="floatleft">
           <li class="special_text"><a href="#">Hello1</a></li>
           </div>
           <div class="floatright">
           <li><a href="#">Hello2</a></li>
           <li><a href="#">Hello3</a></li>
           </div>
       </ul> -->
</div>


<div class="small-navbar secondSmall">
    <ul class="left-menu">
      <!-- <li class=""><i class="fas fa-map-marker-alt"></i> C-72, Sector-2 Noida (201301)</li>
      <li class="">|</li> -->
      <li class="floatleft"><i class="fas fa-phone"></i> 91-7017585022</li>

          <!-- <li class=" displayPointer">Corporate Ordering</li>
        <li class="">|</li> -->
        <li class="floatright displayPointer">Log In Sign Up </li>
        <li class="floatright">|</li>
        <li class="floatright openCartItems displayPointer"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</li>





    </ul>

</div>


<nav id="mainNav">
  <div class="logo">
    <a href="/"> <img src="../img/dk_logo.png" id="logoImage"></a>
  </div>

<div class="fill_space_div">
</div>

  <div class="nav_links">
  <div class="2">
     <a href="http://deliverykings.co.in/#oven art" class="navLinks">OVEN ART</a>
</div>
<div class="3">
         <a href="http://deliverykings.co.in/#main course" class="navLinks">MAIN COURSE</a>
</div>
<div class="4">
  <a href="http://deliverykings.co.in/#sides" class="navLinks">SIDES</a>
</div>
<div class="5">
  <a href="http://deliverykings.co.in/#chinese" class="navLinks">CHINESE</a>
</div>
<div class="6">
  <a href="http://deliverykings.co.in/#party platters" class="navLinks">PARTY PLATTERS</a>
</div>
<div class="7">
  <a href="http://deliverykings.co.in/#soup & deserts" class="navLinks">SOUPS & DESSERTS</a>
</div>
</div>
</nav>


<div class="cart_quan">
  0
</div>
<img src="../img/add_to_cart.png" class="shopping_cart" />

<div class="login-modal">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="confirm-password" placeholder="Confirm Password">
  <button class='login-modal-btn'>Login</button>
  <p>New User? <a href=""> Sign up </a></p>
</div>

<div class="login-backdrop" onclick='hideLoginModal()'>
  
</div>

<div class="signup-modal">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button class='signup-modal-btn'>Sign Up</button>
  <p>Already have an account? <a href=""> Log in </a></p>
</div>

<div class="signup-backdrop" onclick='hideSignupModal()'>
  
</div>


