<div class="small-navbar">
    <ul class="left-menu">
      <li class="floatleft"><i class="fas fa-map-marker-alt"></i> C-72, Sector-2 Noida (201301)</li>
      <li class="floatleft">|</li>
      <li class="floatleft"><i class="fas fa-phone"></i> 91-7017585022</li>

          <li class="floatright displayPointer">Corporate Ordering</li>
        <li class="floatright">|</li>
        <li class="floatright displayPointer">Log In Sign Up </li>
        <li class="floatright">|</li>
        <li class="floatright openCartItems displayPointer"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</li>





    </ul>
    <!-- <ul class="right-menu">

    </ul> -->

    <!-- <ul>
      <div class="floatleft">
           <li class="special_text"><a href="#">Hello1</a></li>
           </div>
           <div class="floatright">
           <li><a href="#">Hello2</a></li>
           <li><a href="#">Hello3</a></li>
           </div>
       </ul> -->
</div>
<nav id="mainNav">
  <div class="logo">
    <a href="/"> <img src="../img/dk_logo.png"></a>
  </div>

<div>
</div>

  <div class="nav_links">
  <div class="2">
     <a href="#oven" class="navLinks">OVEN ART</a>
</div>
<div class="3">
         <a href="#main" class="navLinks">MAIN COURSE</a>
</div>
<div class="4">
  <a href="#sides" class="navLinks">SIDES</a>
</div>
<div class="5">
  <a href="#chinese" class="navLinks">CHINESE</a>
</div>
<div class="6">
  <a href="#party" class="navLinks">PARTY PLATTERS</a>
</div>
<div class="7">
  <a href="#soup" class="navLinks">SOUPS & DESSERTS</a>
</div>
</div>
</nav>


<div class="cart_quan">
  0
</div>
<img src="../img/add_to_cart.png" class="shopping_cart" />
