<nav id="mainNav">
  <div class="logo">
    <a href="/"> <img src="../img/dk_logo.png"></a>
  </div>
  <div class="nav_links">
  <div class="2">
     <a href="#oven" class="navLinks">OVEN ART</a>
</div>
<div class="3">
         <a href="#main" class="navLinks">MAIN COURSE</a>
</div>
<div class="4">
  <a href="#sides" class="navLinks">SIDES</a>
</div>
<div class="5">
  <a href="#chinese" class="navLinks">CHINESE</a>
</div>
<div class="6">
  <a href="#party" class="navLinks">PARTY PLATTERS</a>
</div>
<div class="7">
  <a href="#soup" class="navLinks">SOUPS & DESSERTS</a>
</div>
</div>
</nav>
