<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Delivery Kings</title>
    <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <body>

  <% include ./partials/navbar %>

      <!-- Example row of columns -->
      <%- body -%>
      <% include ./partials/footer %>
      <!-- /js files -->
      <% include ./partials/javascriptOnly %>
  </body>
</html>
