<% layout('layout') -%>

<header class="about-header">
	<% include ./../partials/cart %>
	<div class="fullscreen-video-wrap banner">
		<img src="../img/Banner Img for abt us.jpg">
		<div class="banner-overlay">
			<h1>Orders</h1>
		</div>
	</div>
</div>

	<div class="profile-container">
		<div class="sidebar">
			<h2>My Account</h2>
			<ul>
				<a href="./profile"><li>Account Dashboard</li></a>
				<!-- <a href="/account/edit"><li>Account Information</li></a> -->
				<a href="./orders"><li>My Orders</li></a>
			</ul>
		</div>
		<div class="info-window">
			<h2>Your Orders</h2>

			<%orders.forEach(function(order){ order.items.forEach(function(item){%>
				<div class="previously-ordered">
					<img src="../img/food_items/1.jpg">
					<div class="previously-ordered-info">
						<p><%=item.name%> (x<%=item.quantity%>)</p>
						<p>Order Status: <%if(order.successful==true){ %>successful<%}else{%>Failed <%}%></p>
						<p>Payment Method: <%=order.paymentMethod%></p>
					</div>
				</div>
			<%})})%>


		</div>
	</div>
