<% layout('layout') -%>

<header class="about-header">
	<% include ./../partials/cart %>
	<div class="fullscreen-video-wrap banner">
		<img src="../img/Banner Img for abt us.jpg">
		<div class="banner-overlay">
			<h1>We believe in good</h1>
		</div>
	</div>
</header>

<div class="content-container-outer">
	<div class="content-container-inner">
		<div class="content">
			<p>Delivery Kings is a unit of Qualero Facility Services. It is one of the foremost growing food experience companies. It’s an old saying the best way to a person's heart is through its stomach. The passion towards food is the key highlight. Delivery king focuses on the customer satisfaction. To serve the customer fresh on time is our company's objective. Freshness and serving delicious food is a key aspect of this industry. Delivery king is established in the early period of 2018 in Gurugram.</p>
		</div>
		<div class="content-image">
			<img src="../img/IMG 1.jpg">
			<div class="image-overlay">
				<h1>Farm-Fresh</h1>
				<h1>Ingredients</h1>
			</div>
		</div>
	</div>

	<div class="content-container-inner">
		<div class="content-image">
			<img src="../img/IMG 2.jpg">
			<div class="image-overlay">
				<h1>Served With</h1>
				<h1>Love</h1>
			</div>
		</div>
		<div class="content">
			<p>Delivery king serves you the food which is fresh, delicious and good for your health. As we use high-quality ingredients for all popular dishes which have a memorable impact on customers and not to forget these dishes are made with love and care. With well-chopped ingredients, many types of sausages and eye catching dressing are just like a cherry on the top. You will enjoy the flavor of the world under one roof. You ordered it and we will give you what you expect. We believe in completion of customer satisfaction is so delightful.</p>
		</div>
	</div>
	<div class="content-container-inner">
		<div class="content">
			<p>There has been no doubt we have team of world-class chef but not to forget delicious food need to be deliver on time that’s why our team is surrounded by legendary delivery boys who provide delivery on time. In short delivery kings is the combination of fresh ingredients, personified chefs with high experience and quick service.</p>
		</div>
		<div class="content-image">
			<img src="../img/IMG 3.jpg">
			<div class="image-overlay">
				<h1>Highly<br> Experienced</h1>
				<h1>Chefs</h1>
			</div>
		</div>
	</div>
</div>

<div class="container-bottom">
	<h1>You know the saying, 'nothing good comes easy'? It's a lie.</h1>
	<div class="about-grid">
		<div class="about-grid-item">
			<img src="../img/covered-food-tray-on-a-hand-of-hotel-room-service.svg">
			<p>The prime step for the satisfaction of your hunger to click on cuisine to select the type of food you want and filter it accordingly and then click on the restaurant of your choice and then select it.</p>
		</div>
		<div class="about-grid-item">
			<img src="../img/map-placeholder-dark-symbol.svg">
			<p>After finalizing the food you just need to select the location where you are expecting delivery of your food and then last but not the least selects the mode of payment.</p>
		</div>
		<div class="about-grid-item">
			<img src="../img/old-sand-clock.svg">
			<p>Just moments away your food will be delivered to your doorstep at a quick time.  You have an opportunity either to do payment cash on delivery or even can be made while ordering.</p>
		</div>
	</div>
</div>
