<% layout('layout') -%>


<!-- Container-->



<header>


  <div class="slider_content">
    <div class="dropdown">
      <button class="dropbtn">City <span class="fa fa-caret-down"></span></button>
      <div class="dropdown-content">
        <a href="#">Delhi</a>
        <a href="#">Noida</a>
        <a href="#">Gurgaon</a>
      </div>
    </div>

    <div class="input-field">
      <input type="text" placeholder="Enter Your Location"/>
    </div>

    <div class="search_button">
      <button class="srch_btn">Search</button>
    </div>
  </div>


  <div class="fullscreen-video-wrap">

   <video src="../video/dK-slider_video.mp4" autoplay="" loop="" muted>
 </video>
 </div>
  <div class="header-overlay"></div>
</header>

<div id="mySidenav" class="sidenav">
  <div class="cart_header">
  <span style="float:left" class="cart_header_title">Your Cart</span>
  <span style="float:right;" onclick="closeNav();" class="cart_close">Close</span>
 </div>
  <br/>
  <br/>
  <hr/>

  <div class="cartOrders">

  <div class="cart_order">
    <div class="cart_order_title">
      <span><img src="../img/veg-icon.png" class="food_icon_cart"> Veggie Quesadillas
    </div>
    <div class="cart_order_close">
      <i class="fa fa-times"></i>
    </div>
    <div class="cart_order_quantity">
      <div id="input_div">
        <input type="text" value="1" id="count">
        <input type="button" value="-" id="moins" onclick="minus()">
        <input type="button" value="+" id="plus" onclick="plus()">
     </div>
    </div>

    <div class="cart_order_price">
    Rs 250
    </div>

  </div>

  <!-- <div class="cart_order">
    <div class="cart_order_title">
      <span><img src="../img/veg-icon.png" class="food_icon_cart"> Veggie Quesadillas
    </div>
    <div class="cart_order_close">
      <i class="fa fa-times"></i>
    </div>
    <div class="cart_order_quantity">
      <div id="input_div">
        <input type="text" value="1" id="count">
        <input type="button" value="-" id="moins" onclick="minus()">
        <input type="button" value="+" id="plus" onclick="plus()">
     </div>
    </div>

    <div class="cart_order_price">
    Rs 250
    </div>

  </div> -->

  <div class="cart_order">
    <div class="cart_order_title">
      <span><img src="../img/veg-icon.png" class="food_icon_cart"> Veggie Quesadillas
    </div>
    <div class="cart_order_close">
      <i class="fa fa-times"></i>
    </div>
    <div class="cart_order_quantity">
      <div id="input_div">
        <input type="text" value="1" id="count">
        <input type="button" value="-" id="moins" onclick="minus()">
        <input type="button" value="+" id="plus" onclick="plus()">
     </div>
    </div>

    <div class="cart_order_price">
    Rs 250
    </div>

  </div>

  <div class="cart_order">
    <div class="cart_order_title">
      <span><img src="../img/veg-icon.png" class="food_icon_cart"> Veggie Quesadillas
    </div>
    <div class="cart_order_close">
      <i class="fa fa-times"></i>
    </div>
    <div class="cart_order_quantity">
      <div id="input_div">
        <input type="text" value="1" id="count">
        <input type="button" value="-" id="moins" onclick="minus()">
        <input type="button" value="+" id="plus" onclick="plus()">
     </div>
    </div>

    <div class="cart_order_price">
    Rs 250
    </div>

  </div>

  <div class="cart_order">
    <div class="cart_order_title">
      <span><img src="../img/veg-icon.png" class="food_icon_cart"> Veggie Quesadillas
    </div>
    <div class="cart_order_close">
      <i class="fa fa-times"></i>
    </div>
    <div class="cart_order_quantity">
      <div id="input_div">
        <input type="text" value="1" id="count">
        <input type="button" value="-" id="moins" onclick="minus()">
        <input type="button" value="+" id="plus" onclick="plus()">
     </div>
    </div>

    <div class="cart_order_price">
    Rs 250
    </div>

  </div>

</div>

  <div class="cart_order_place">
    Place Order
  </div>

</div>

<!-- Use any element to open the sidenav -->

<main class="home_main" id="main">
<div id="home_main">
    <!-- <div class="menu-wrapper" id="oven">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">OVEN ART</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <a href="foods"><a href="foods"><img src="../img/food_items/1.jpg"></a></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/2.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/3.jpeg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/4.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/5.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/6.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/7.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><a href="foods"><img src="../img/food_items/8.jpg"></a></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-wrapper" id="main">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">MAIN COURSE</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/1.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/2.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/3.jpeg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/4.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/5.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/6.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/7.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><a href="foods"><img src="../img/food_items/8.jpg"></a></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div>


    <div class="menu-wrapper" id="sides">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">SIDES</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/1.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/2.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/3.jpeg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/4.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/5.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/6.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/7.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><a href="foods"><img src="../img/food_items/8.jpg"></a></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div>


    <div class="menu-wrapper" id="chinese">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">CHINESE</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/1.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/2.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/3.jpeg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/4.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/5.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/6.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/7.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><a href="foods"><img src="../img/food_items/8.jpg"></a></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div>


    <div class="menu-wrapper" id="party">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">PARTY PLATTERS</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/1.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/2.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/3.jpeg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/4.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/5.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/6.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/7.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><a href="foods"><img src="../img/food_items/8.jpg"></a></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-wrapper" id="soup">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">SOUP & DESERTS</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/1.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/2.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/3.jpeg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/4.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/5.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/6.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><img src="../img/food_items/7.jpg"></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <a href="foods"><a href="foods"><img src="../img/food_items/8.jpg"></a></a>
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div> -->
</div>

<div class="loader">
  <img src="../img/loader.gif" alt="loader">
</div>

    <div class="featured_happy_wrapper">
      <div class="happy_hrs">
        <div class="hpy_img">
          <img src="../img/happy_hrs.jpg">
        </div>
        <div class="hpy_items">
      <h1><span class="hpy_hrs_heading">Happy Hours</span></h1>

  <div class="food_title_price">
      <div class="food_title">
        <span><img src="../img/non-veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
      </div>
      <div class="food_price">
        Rs 250
      </div>
      <div class="food-content">Aloo/Mushroom/Water</div>
      <div class="food_order">ORDER</div>
    </div>
    <div class="food_title_price">
        <div class="food_title">
          <span><img src="../img/veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
        </div>
        <div class="food_price">
            Rs 250
        </div>
        <div class="food-content">Aloo/Mushroom/Water</div>
        <div class="food_order">ORDER</div>
      </div>
      <div class="food_title_price">
          <div class="food_title">
          <span><img src="../img/veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
          </div>
          <div class="food_price">
              Rs 250
          </div>
          <div class="food-content">Aloo/Mushroom/Water</div>
          <div class="food_order">ORDER</div>
        </div>
        <div class="food_title_price">
            <div class="food_title">
            <span><img src="../img/veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
            </div>
            <div class="food_price">
                Rs 250
            </div>
            <div class="food-content">Aloo/Mushroom/Water</div>
            <div class="food_order">ORDER</div>
          </div>
        <div class="food_title_price">
              <div class="food_title">
              <span><img src="../img/veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
              </div>
              <div class="food_price">
                  Rs 250
              </div>
              <div class="food-content">Aloo/Mushroom/Water</div>
              <div class="food_order">ORDER</div>
            </div>
        </div>
      </div>

      <!-- Featured wrapper -->

      <div class="happy_hrs featured">

        <div class="hpy_items">
      <h1><span class="hpy_hrs_heading">Featured Items</span></h1>

  <div class="food_title_price">
      <div class="food_title">
      <span><img src="../img/non-veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
      </div>
      <div class="food_price
      ">
        Rs 250
      </div>
      <div class="food-content">Aloo/Mushroom/Water</div>
      <div class="food_order">ORDER</div>
    </div>
    <div class="food_title_price">
        <div class="food_title">
        <span><img src="../img/non-veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
        </div>
        <div class="food_price">
            Rs 250
        </div>
        <div class="food-content">Aloo/Mushroom/Water</div>
        <div class="food_order">ORDER</div>
      </div>
      <div class="food_title_price">
          <div class="food_title">
          <span><img src="../img/non-veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
          </div>
          <div class="food_price">
              Rs 250
          </div>
          <div class="food-content">Aloo/Mushroom/Water</div>
          <div class="food_order">ORDER</div>
        </div>
        <div class="food_title_price">
            <div class="food_title">
          <span><img src="../img/non-veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
            </div>
            <div class="food_price">
                Rs 250
            </div>
            <div class="food-content">Aloo/Mushroom/Water</div>
            <div class="food_order">ORDER</div>
          </div>
        <div class="food_title_price">
              <div class="food_title">
              <span><img src="../img/veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
              </div>
              <div class="food_price">
                  Rs 250
              </div>
              <div class="food-content">Aloo/Mushroom/Water</div>
              <div class="food_order">ORDER</div>
            </div>
        </div>
        <div class="hpy_img">
          <img src="../img/happy_hrs.jpg">
        </div>
      </div>

</main>



<script>
document.addEventListener("DOMContentLoaded", function(event) {

//
// alert("DOM fully loaded and parsed");


var xhr = new XMLHttpRequest();
xhr.open("GET", "/categories", true);
xhr.onload = function (e) {
  document.querySelector(".loader").style.display = "block";
  if (xhr.readyState === 4) {
    if (xhr.status === 201) {
        categoriesResponse = JSON.parse(xhr.response);
        console.log(categoriesResponse)
          var htmlText =  document.getElementById('home_main');
          while (htmlText.firstChild) htmlText.removeChild(htmlText.firstChild);

      categoriesResponse.forEach(function(category)
    {
      // alert(category._id)
        var div = '';
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/products/"+category._id+'/4', true);
      xhr.onload = function (e) {
        if (xhr.readyState === 4) {
          if (xhr.status === 201) {
            var response = JSON.parse(xhr.response);
            console.log(response);

            div += '<div class="menu-wrapper" id="'+response[0].category.name+'">';
            div += '<div class="menu-header">';
            div += '<div class="line">';
            div +=  '<img src = "../img/line2.png"/>';
            div +=  '</div>';
            div +=  '<h1 class="menu-heading">'+response[0].category.name+'</h1>';
            div +=  '<div class="line">';
            div +=  '<img src = "../img/line.png"/>';
            div += '        </div>  </div>';
            if(response[0].category.desc)
            div += '<div class="description">'+response[0].category.desc+'</div><br/> <br/>';
            else
            div += '<div class="description">Chef Made</div><br/> <br/>';

                div += '  <div class="food-items">';

            response.forEach(function(product,index){

                  console.log(index)

              div += ' <div class="food-item">';
              div +=  '<a href="/food/'+product._id+'">';


              div +=  '<img src="'+product.prodImg+'">';


              div +=   '</a>';
              div +=  '<div class="food-item-titles">';
              div +=  '<div class="food-item-title"><span>';
              if(product.nonVeg)
              div += '<img src="../img/non-veg-icon.png" class="food_icon">';
              else
              div += '<img src="../img/veg-icon.png" class="food_icon">';
              div +=  product.name+'</span> </div>';
              div +=  '<div class="food-item-price">Rs. '+product.price+'</div>';
              div +=    '  <div class="food-item-content">Aloo/Mushroom/Water</div>';
              var sessionCart = JSON.parse(sessionStorage.getItem("cart"));
                var productId = "'"+product._id+"'";
                var check = false;
                  if(sessionCart!==null)
                  {
              sessionCart.items.some(function(productCart,index){
                // console.log(productCart._id);
                if(productCart._id==product._id)
                {
                  div += '<div id="input_div" class="shivy_move">';
                  var input_shivy = product._id+'shivy';
                  div += '<input type="text" value="'+productCart.quantity+'" id="'+input_shivy+'">';
                  div +=  '<input type="button" value="-" id="moins" onclick="minus('+productId+')">';
                  div += '<input type="button" value="+" id="plus" onclick="plus('+productId+')">';
                  div += '</div>';
                  check = true;
                  return true;
                // alert(id);
              }
            });
          }
            if(!check) div +=  '<div class="order_btn" onclick="openNav('+productId+',this);">ORDER</div>';
              div +=  '</div>';
              div +=   '</div>';

            });


            div += '</div></div>';

            htmlText.innerHTML += div;

          } else {
            console.error(xhr.statusText);
          }
        }
      };
      xhr.onerror = function (e) {
        console.error(xhr.statusText);
      };
      xhr.send(null);

    });
    } else {
      console.error(xhr.statusText);
    }
  }
    document.querySelector(".loader").style.display = "none";
};
xhr.onerror = function (e) {
  console.error(xhr.statusText);
};
xhr.send(null);

});
</script>


<!-- Footer -->
