<% layout('layout') -%>


<!-- Container-->
<!-- <div class="container">
  <header class="small-navbar">
    <ul class="left-menu">
      <li>Corporate Ordering</li>
      <li>Download App</li>
    </ul>
    <ul class="right-menu">
      <li>85236852315</li>
      <li>Log in </li>
    </ul>
  </header>
</div> -->

<header>


  <div class="slider_content">
    <div class="dropdown">
      <button class="dropbtn">City <span class="fa fa-caret-down"></span></button>
      <div class="dropdown-content">
        <a href="#">Delhi</a>
        <a href="#">Noida</a>
        <a href="#">Gurgaon</a>
      </div>
    </div>

    <div class="input-field">
      <input type="text" placeholder="Enter Your Location"/>
    </div>

    <div class="search_button">
      <button class="srch_btn">Search</button>
    </div>
  </div>


  <div class="fullscreen-video-wrap">

   <video src="../video/dK-slider_video.mp4" autoplay="" loop="" muted>
 </video>
 </div>
  <div class="header-overlay"></div>
</header>

<div id="mySidenav" class="sidenav">
  <div class="cart_header">
  <span style="float:left" class="cart_header_title">Your Cart</span>
  <span style="float:right;" onclick="closeNav();" class="cart_close">Close</span>
 </div>
  <br/>
  <br/>
  <hr/>


  <div class="cart_order">
    <div class="cart_order_title">
      <span><img src="../img/veg-icon.png" class="food_icon_cart"> Veggie Quesadillas
    </div>
    <div class="cart_order_close">
      <i class="fa fa-times"></i>
    </div>
    <div class="cart_order_quantity">
      <div id="input_div">
        <input type="text" value="1" id="count">
        <input type="text" value="-" id="moins" onclick="minus()">
        <input type="text" value="+" id="plus" onclick="plus()">
     </div>
    </div>

    <div class="cart_order_price">
    Rs 250
    </div>

  </div>

  <div class="cart_order">
    <div class="cart_order_title">
      <span><img src="../img/veg-icon.png" class="food_icon_cart"> Veggie Quesadillas
    </div>
    <div class="cart_order_close">
      <i class="fa fa-times"></i>
    </div>
    <div class="cart_order_quantity">
      <div id="input_div">
        <input type="text" value="1" id="count">
        <input type="text" value="-" id="moins" onclick="minus()">
        <input type="text" value="+" id="plus" onclick="plus()">
     </div>
    </div>

    <div class="cart_order_price">
    Rs 250
    </div>

  </div>

  <div class="cart_order">
    <div class="cart_order_title">
      <span><img src="../img/veg-icon.png" class="food_icon_cart"> Veggie Quesadillas
    </div>
    <div class="cart_order_close">
      <i class="fa fa-times"></i>
    </div>
    <div class="cart_order_quantity">
      <div id="input_div">
        <input type="text" value="1" id="count">
        <input type="text" value="-" id="moins" onclick="minus()">
        <input type="text" value="+" id="plus" onclick="plus()">
     </div>
    </div>

    <div class="cart_order_price">
    Rs 250
    </div>

  </div>

  <div class="cart_order">
    <div class="cart_order_title">
      <span><img src="../img/veg-icon.png" class="food_icon_cart"> Veggie Quesadillas
    </div>
    <div class="cart_order_close">
      <i class="fa fa-times"></i>
    </div>
    <div class="cart_order_quantity">
      <div id="input_div">
        <input type="text" value="1" id="count">
        <input type="text" value="-" id="moins" onclick="minus()">
        <input type="text" value="+" id="plus" onclick="plus()">
     </div>
    </div>

    <div class="cart_order_price">
    Rs 250
    </div>

  </div>

  <div class="cart_order">
    <div class="cart_order_title">
      <span><img src="../img/veg-icon.png" class="food_icon_cart"> Veggie Quesadillas
    </div>
    <div class="cart_order_close">
      <i class="fa fa-times"></i>
    </div>
    <div class="cart_order_quantity">
      <div id="input_div">
        <input type="text" value="1" id="count">
        <input type="text" value="-" id="moins" onclick="minus()">
        <input type="text" value="+" id="plus" onclick="plus()">
     </div>
    </div>

    <div class="cart_order_price">
    Rs 250
    </div>

  </div>

  <div class="cart_order_place">
    Place Order
  </div>

</div>

<!-- Use any element to open the sidenav -->

<main class="home_main" id="main">

    <div class="menu-wrapper" id="oven">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">OVEN ART</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <img src="../img/food_items/1.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/2.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/3.jpeg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/4.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/5.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/6.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/7.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/8.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-wrapper" id="main">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">MAIN COURSE</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <img src="../img/food_items/1.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/2.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/3.jpeg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/4.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/5.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/6.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/7.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/8.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div>


    <div class="menu-wrapper" id="sides">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">SIDES</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <img src="../img/food_items/1.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/2.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/3.jpeg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/4.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/5.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/6.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/7.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/8.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div>


    <div class="menu-wrapper" id="chinese">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">CHINESE</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <img src="../img/food_items/1.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/2.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/3.jpeg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/4.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/5.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/6.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/7.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/8.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div>


    <div class="menu-wrapper" id="party">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">PARTY PLATTERS</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <img src="../img/food_items/1.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/2.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/3.jpeg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/4.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/5.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/6.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/7.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/8.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-wrapper" id="soup">
      <div class="menu-header">
      <div class="line">
        <img src = "../img/line2.png"/>
      </div>
      <h1 class="menu-heading">SOUP & DESERTS</h1>
      <div class="line">
        <img src = "../img/line.png"/>
      </div>
    </div>
      <div class="description">Chef made meals, inspired by cuisines from across the world, using fresh ingredients and no preservatives.</div>
  <br/>
  <br/>
      <div class="food-items">
        <div class="food-item">
          <img src="../img/food_items/1.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/2.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/3.jpeg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/4.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/5.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/6.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/7.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
        <div class="food-item">
          <img src="../img/food_items/8.jpg">
          <div class="food-item-titles">
          <div class="food-item-title"><span><img src="../img/non-veg-icon.png" class="food_icon"> Mushroom Mutter</span> </div>
          <div class="food-item-price">Rs. 24</div>
          <div class="food-item-content">Aloo/Mushroom/Water</div>
          <div class="order_btn" onclick="openNav()">ORDER</div>
          </div>
        </div>
      </div>
    </div>


    <div class="featured_happy_wrapper">
      <div class="happy_hrs">
        <div class="hpy_img">
          <img src="../img/happy_hrs.jpg">
        </div>
        <div class="hpy_items">
      <h1><span class="hpy_hrs_heading">Happy Hours</span></h1>

  <div class="food_title_price">
      <div class="food_title">
        <span><img src="../img/non-veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
      </div>
      <div class="food_price">
        Rs 250
      </div>
      <div class="food-content">Aloo/Mushroom/Water</div>
      <div class="food_order">ORDER</div>
    </div>
    <div class="food_title_price">
        <div class="food_title">
          <span><img src="../img/veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
        </div>
        <div class="food_price">
            Rs 250
        </div>
        <div class="food-content">Aloo/Mushroom/Water</div>
        <div class="food_order">ORDER</div>
      </div>
      <div class="food_title_price">
          <div class="food_title">
          <span><img src="../img/veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
          </div>
          <div class="food_price">
              Rs 250
          </div>
          <div class="food-content">Aloo/Mushroom/Water</div>
          <div class="food_order">ORDER</div>
        </div>
        <div class="food_title_price">
            <div class="food_title">
            <span><img src="../img/veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
            </div>
            <div class="food_price">
                Rs 250
            </div>
            <div class="food-content">Aloo/Mushroom/Water</div>
            <div class="food_order">ORDER</div>
          </div>
        <div class="food_title_price">
              <div class="food_title">
              <span><img src="../img/veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
              </div>
              <div class="food_price">
                  Rs 250
              </div>
              <div class="food-content">Aloo/Mushroom/Water</div>
              <div class="food_order">ORDER</div>
            </div>
        </div>
      </div>

      <!-- Featured wrapper -->

      <div class="happy_hrs featured">

        <div class="hpy_items">
      <h1><span class="hpy_hrs_heading">Featured Items</span></h1>

  <div class="food_title_price">
      <div class="food_title">
      <span><img src="../img/non-veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
      </div>
      <div class="food_price
      ">
        Rs 250
      </div>
      <div class="food-content">Aloo/Mushroom/Water</div>
      <div class="food_order">ORDER</div>
    </div>
    <div class="food_title_price">
        <div class="food_title">
        <span><img src="../img/non-veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
        </div>
        <div class="food_price">
            Rs 250
        </div>
        <div class="food-content">Aloo/Mushroom/Water</div>
        <div class="food_order">ORDER</div>
      </div>
      <div class="food_title_price">
          <div class="food_title">
          <span><img src="../img/non-veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
          </div>
          <div class="food_price">
              Rs 250
          </div>
          <div class="food-content">Aloo/Mushroom/Water</div>
          <div class="food_order">ORDER</div>
        </div>
        <div class="food_title_price">
            <div class="food_title">
          <span><img src="../img/non-veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
            </div>
            <div class="food_price">
                Rs 250
            </div>
            <div class="food-content">Aloo/Mushroom/Water</div>
            <div class="food_order">ORDER</div>
          </div>
        <div class="food_title_price">
              <div class="food_title">
              <span><img src="../img/veg-icon.png" class="food_icon other"> Mushroom Mutter</span>
              </div>
              <div class="food_price">
                  Rs 250
              </div>
              <div class="food-content">Aloo/Mushroom/Water</div>
              <div class="food_order">ORDER</div>
            </div>
        </div>
        <div class="hpy_img">
          <img src="../img/happy_hrs.jpg">
        </div>
      </div>

</main>


<!-- Footer -->
