<% layout('layout') -%>

<header class="about-header">
	<% include ./../partials/cart %>
	<div class="fullscreen-video-wrap banner">
		<img src="../img/Banner Img for abt us.jpg">
		<div class="banner-overlay">
			<h1>Refund Policies</h1>
		</div>
	</div>
</header>
<section class="terms-and-conditions">
<br><br><br>
<h2>Return Policy</h2>
<p>We currently do not allow cancellations of immediate orders (to be delivered in the next hour slot). However, we try our best to accommodate cancellation requests if they are fairly ahead of the delivery time. Please reach out to our customer care in such cases.</p>
<p>In case of a refund, you will be notified upon successful initiation of the refund via phone or e-mail and the money will be credited to you within the next 7 working days. If all or part of a product is defective, we will credit you an amount equivalent to the value of the defective item towards a future purchase, including any applicable delivery charges and any reasonable costs you incur in refusing the defective Item. We will usually refund any money received from you using the same method originally used by you to pay for your purchase.</p>
<h2>Events outside Our Control</h2>
<p>We will not be liable or responsible for any failure to perform or delay in performance of any of our obligations under a contract that is caused by events outside our reasonable control (unforeseeable events).</p>
<p>An unforeseeable event includes any act, non-¬happening, omission or accident beyond our reasonable control and includes in particular (without limitation) the following:</p>
<p>Strikes, lock¬outs or other industrial action;</p>
<p>Civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or not) or threat or preparation for war;</p>
<p>Fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural disaster;</p>
<p>Impossibility of the use of railways, shipping, aircraft, motor transport or other means of public or private transport;</p>
<p>Impossibility of the use of public or private telecommunications networks; and</p>
<p>The acts, legislation, regulations or restrictions of any government.</p>
<p>Our performance under any contract is deemed to be suspended for the period that the unforeseeable event continues, and we will have an extension of time for performance for the duration of that period. We will use our reasonable endeavors to bring the unforeseeable event to a close or to find a solution by which our obligations under the contract may be performed despite any such event.</p>
<p>Your order will be fulfilled by the delivery date set out in the confirmation or, if no delivery date is specified, then on the day of delivery selected by you, absent the occurrence of an unforeseeable event. In this case, we are not liable for the cost of any compromised or failed deliveries; however, we reserve the right to refund you for all or part of any such compromised or failed deliveries as we see fit.</p>
<h2>Entire Agreement</h2>
<p>These terms and conditions and any document expressly referred to in them constitute the whole agreement between us and supersede all previous discussions, correspondence, negotiations, previous arrangement, understanding or agreement between us relating to the subject matter of any Contract.</p>
<p>We each acknowledge that, in entering into a contract, neither of us relies on any representation or warranty (whether made innocently or negligently) that is not set out in these terms and conditions or the documents referred to in them.</p>
<p>Each of us agrees that our only liability in respect of those representations and warranties that are set out in this agreement (whether made innocently or negligently) will be for breach of contract.</p>
<p>Nothing in this clause limits or excludes any liability for fraud.</p>
<h2>Our Right to Vary These Terms and Conditions</h2>
<p>We have the right to revise and amend these terms and conditions from time to time to reflect changes in market conditions affecting our business, changes in technology, changes in payment methods, changes in relevant laws and regulatory requirements and changes in our system's capabilities.</p>
<p>You will be subject to the policies and terms and conditions in force at the time that you order products from us, unless any change to those policies or these terms and conditions is required to be made by law or governmental authority (in which case it will apply to orders previously placed by you), or if we notify you of the change to those policies or these terms and conditions before we send you the confirmation (in which case we have the right to assume that you have accepted the change to the terms and conditions, unless you notify us to the contrary within seven working days of receipt by you of the products).</p>
<h2>Law and Jurisdiction</h2>
<p>Contracts for the purchase of products through our site and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non¬-contractual disputes or claims) will be governed by Indian law. Any dispute or claim arising out of or in connection with such Contracts or their formation (including non¬-contractual disputes or claims) will be subject to the non-exclusive jurisdiction of the courts of India.</p>
<h2>External Sites</h2>
<p>The platform may contain links to third¬ party websites ("External Sites"). These links are provided solely as a convenience to you and not as an endorsement by us of the content on such external sites. The content of such external sites is developed and provided by others. You should contact the site administrator or webmaster for those external sites if you have any concerns regarding such links or any content located on such external sites. We are not responsible for the content of any linked external sites and do not make any representations regarding the content or accuracy of materials on such external sites. You should take precautions when downloading files from all websites to protect your computer from viruses and other destructive programs. If you decide to access linked external sites, you do so at your own risk.</p>
<h2>Miscellaneous</h2>
<p>	If you find something that violates our community guidelines, let us know, and we'll review it. We reserve the right, in our sole and absolute discretion, to deny you access to the platform, or any portion of the services, without notice, and remove any user content that does not adhere to these guidelines.</p>
</section>